<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add type="dotless.Core.LessCssHttpHandler,dotless.Core" validate="false" path="*.LESS" verb="*"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0"/>
    <pages clientIDMode="Static">
      <controls>
        <add assembly="Daiz.WebFramework" namespace="Daiz.WebFramework.Controls" tagPrefix="daiz" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
<!--<?xml version="1.0"?>-->
<!--<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
    <handlers>
      <add name="dotLESS" type="dotless.Core.LessCssHttpHandler,dotless.Core" path="*.LESS" verb="*"/>
    </handlers>
  </system.webServer>
  <system.web>
    <pages clientIDMode="Static">
      <controls>
        <add assembly="Daiz.WebFramework" namespace="Daiz.WebFramework.Controls" tagPrefix="daiz" />
      </controls>
    </pages>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
</configuration>-->